.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
body{
    margin: 0;
}
#container {
	width: 110vw;
    height: 225vw;
    background-color: blue;
    
    

}
.two, .three {
	
	margin: 30px;
	float: left;
 
  }

  .one, .one1, .content {
	height: 380px;
	float: left;
    
  }
.headline{
	position: relative;
    text-align: center;

}

.center{
    position: absolute;
    top: 70%;
    left: 25%;
    color: white;
    font-size: 50px;
}
.bodytext{
    
    background-color: #800000;
    width: 110vw;
    margin: auto;

}
.content{
   
    background-color: #800000;
    width: 50vw;
    margin: auto;
    color: #FFEFD5;

}


.w3-container{
    float: left;
    width: 100%;
    max-width: 40%;
    height: 100%;
 
    
}
.photos1{

height: auto;
width: 100%;
 min-width: 40%;
 position: relative;
}


.photos{
margin-left: 80px;
height: auto;
width: 50%;
 min-width: 40%;


}


.dryskin{
position: relative;
text-align: center;
top: -50px;
color: white;
 font-size: 25px;
}


.one{

width: 60vw;
margin: 0;
}
.one1{

width: 60%;
color: orange;
background-color: beige;
float: right;
margin: 0;

}
.two{
 
height: 730px;
width: 30vw;
background-color: #800000;
margin-right: 40px; 
margin-left: 40px;

}
.three{

height: 730px;
width: 30vw;
background-color: #800000;
margin-right: 40px; 
margin-left: 40px;


}
h1{


}
h2{ 
text-align: center;

	
}
h4{
margin-left: 20px;
font-size: 18px;
	
}
h6{
padding: 30px;
margin-top: 40px;
font-size: 17px;
color: #FFEFD5;	
}

p{
margin-left: 30px;
margin-right: 30px;

    
}

.title{
	min-width: 100%;
}





