body{
        	width: 500px;
        	margin: 150px 300px 150px;
        	padding: 30px;
        	background-repeat: no-repeat;
        	background-size: cover;
    }

p  {         text-align: center;
        	text-indent: 50px;
        	line-height: 1.8;
        	font-size: 18px;
        	color: white;
        	font-family: 'Quicksand', sans-serif;
  
   }

