body{
    background-color: #f2f2f2;
}

.title{
    margin-left: 10px;
    font-size: 35px;
    color:#004466;
    font-family: 'Chewy', cursive;

}

.subtitle{
    line-height: 1.5;
    margin-right:800px;
    text-align: center;
    color: #003300;
    font-family: 'Forum', cursive;
    
 

}

.sentence{
    
    line-height: 1.5;
    margin-left: 500px;
    color: #cca300;
    margin-bottom: 20px;
    font-family: 'Forum', cursive;
   
   
     
}

.sentence1{

     line-height: 1.5;
    margin-left: 470px;
    color:#cca300;
    margin-bottom: 20px;
    font-family: 'Forum', cursive;
    
}
p{
    line-height: 1.3;
    margin-left: 250px;
    margin-right: 200px;
    color: #800000;
    font-family: 'Overlock', cursive;

    }