body {
    margin: 0;
    background-color: beige;
}
#container {
    width: 50vw;
    margin: 0 auto;
    padding: 50px;
}

h1, p {
    margin: 0;
}
img{
    width: 90%;
    height: 90%;
    margin-top: 10%;
    margin-left: 10%;
}
h1 {
    font-size: 68px;
    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    color: navy;
}
input {
    width: 50vw;
    height: 40px;
    margin-top: 50px;
    font-size: 30px;
    padding: 25px 0;
    text-align: center;
}
.button {
    width: 500px;
    background-color: lightcoral;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 50px auto;
}
.button:hover {
    cursor: pointer;
    background-color: skyblue;
    color: white;
}
.button p {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
}