.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
body{
    margin: 0;
    background-image: url("dots.jpg");
 background-repeat:repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  background-color: black;
  
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: lightcoral;
}

li a:hover {
  background-color: black;
}

.active {
  background-color: lightblue;
}
#container {
	width: 90vw;
    height: 175vw;  

}

.headline{
background-color: white;
 opacity: 0.9;
 margin: 0;
 width: 100vw;

}

h1{

text-align: center;
color:  black;
font-family: 'Paytone One', sans-serif;
 font-size: 100px;

}

.content{ 
    width: 90vw;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0; 
    padding: 10px;
    background-color: lightblue;
    
}

.photos{
    max-width: 100%;
    height: auto;
}

p{

margin-left: 30px;
margin-right: 30px;
font-family: 'Niramit', sans-serif;
font-size: 22px;
}