

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
body{
    margin: 0;
    background-image: url("dots.jpg");
 background-repeat:repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  background-color: black;
  
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: lightcoral;
}

li a:hover {
  background-color: black;
}

.active {
  background-color: lightblue;
}
#container {
	width: 110vw;
    height: 175vw;  

}
.
.tenor-gif-embed{
  float: left;
  margin: 0 auto;
  min-width: 30%;
  width:30%;

}
.photos{
    height:0 auto;
    min-width: 30%;
    width:303px;
}
.content: { 
    width: 95vw;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px; 
    padding: 10px;
    background-color: lightblue;
    
}

.general{
    width: 110vw;
    background-color:black;
}
.parts{
 
width: 50vw;
height: 50vw;
margin-right: 30px; 
margin-left: 30px;
margin: 20px;
float: left; /* add this */

}

.parts2{
 
width: 50vw;
height: 50vw;
margin-right: 30px; 
margin-left: 30px;
margin: 20px;
float: left; /* add this */


}
    
.photos{
height: auto;
width: 100%;
min-width: 30%;
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
}
.photos1{
height: auto;
width: 70%;
min-width: 20%;
position: relative;
 display: block;
 margin-left: auto;
margin-right: auto;
}
.text{
margin-top: 20px;
background-color: white;
}

.gallery{

text-align: center;
top: -60px;
color:#DA70D6;
font-family: 'Paytone One', sans-serif;
font-size: 35px;

}
.aboutus{
text-align: center;
top: -60px;
color:  #FF4500;
font-family: 'Paytone One', sans-serif;
 font-size: 35px;
 
}

p{
margin-left: 30px;
margin-right: 30px;
font-family: 'Niramit', sans-serif;
font-size: 22px;
    
}


